<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
    <div class="page">
        <header>
            {% include header.liquid %}
        </header>
        <main id="article" class="crea">
            <ilw-content width="page" style="contain: layout;">
                <div class="section-pill {{ section }}">{{ section }}</div>
            </ilw-content>
            <ilw-hero align="bottom" alwayson="true"><img src="/img/discovery/crea.jpg" alt="" slot="background"><h1>CREA: Embodying Cognitive, Cultural and Interdisciplinary Diversity</h1></ilw-hero>
            <ilw-content  mode="introduction" theme="blue" padding="4rem">
                <h2 style="color: white;"></h2>
                <p>After 12 years as an established strategic initiative of the College of Education, in fall 2023 the Center for Culturally Responsive Evaluation and Assessment was designated a permanent research center of the University of Illinois Urbana-Champaign campus.</p>
            </ilw-content>

            <ilw-columns width="page" gap="20px">
                <div>
                {{ content }}
                </div>
                <ilw-statistic class="orange"><span slot="stat">4</span> CREA has established four U.S. and international affiliates to address and implement culturally responsive evaluation and assessment.</ilw-statistic>
            </ilw-columns>

            <ilw-content width="page">
            <div style="clear: both;">
                <img src="/img/discovery/hood.jpg" alt="Denice Ward Hood" class="float-left">
                <p class="quote">CREA is an interdisciplinary endeavor that brings researchers together from across the College and University, as well as domestic and international research partners, to address the growing need for policy-relevant studies that take seriously the influences of cultural norms, practices, and expectations in the design, implementation, and evaluation of social and educational interventions.”</p>
                <p> — <strong>Denice Ward Hood</strong>, Director of the Center for Culturally Responsive Evaluation and Assessment</p>
            </div>
            <div style="clear: both;">
                <img src="/img/discovery/clement.jpg" alt="Valencia Clement" class="float-left">
                <p class="quote">Our work has the ability transform the way teachers and schools view students, thus impacting how young people see themselves and their learning environments.”</p>
                <p><strong>Valencia Clement</strong> is a first-generation Haitian-American artist, activist and researcher, and the inaugural <strong>Stafford Hood Fellow of Culturally Responsive Assessment</strong> at the Center for Measurement Justice.</p>
            </div>
            </ilw-content>
            {% if readMore %}
            <ilw-content width="page">
            <p class="readmore"><a href="{{ readMore }}" class="ilw-button ilw-theme-blue-1">Read Full Story</a></p>
            </ilw-content>
            {% endif %}
            {% include arrows.liquid %}
        </main>
        {% include footer.liquid %}
    </div>
    </body>
</html>