<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
    <div class="page">
        <header>
            {% include header.liquid %}
        </header>
        <main id="article" class="indigenous">
            <ilw-content width="page" style="contain: layout; z-index: 1000; position: relative;">
                <div class="section-pill {{ section }}">{{ section }}</div>
            </ilw-content>
            <ilw-hero alwayson="true"><img src="/img/community/indigenous.jpg" alt="" slot="background"><h1>{{ pageTitle }}</h1></ilw-hero>
            <p class="byline article-byline" style="text-align: center;">{{ byline }}</p>
            {{ content }}
            {% if readMore %}
            <ilw-content width="page">
            <p class="readmore"><a href="{{ readMore }}" class="ilw-button ilw-theme-blue-1">Read Full Story</a></p>
            </ilw-content>
            {% endif %}
            {% include arrows.liquid %}
        </main>
        {% include footer.liquid %}
    </div>
    </body>
</html>