<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
    <div class="page centers-page">
        <header>
            {% include header.liquid %}
        </header>
        <main>
        <div id="main-h1" class="main-h1-line">
        <ilw-spacer height="60px"></ilw-spacer><ilw-content width="page">
        <div class="section-pill Community">Community</div>
        <h1>Centers & Initiatives</h1>
        </ilw-content></div>
        <ilw-content class="centers">
           <ilw-grid width="page" gap="30px">
            {%- for center in centers %}
                <p><a href="{{ center.link }}">{{ center.title }}</a> {{ center.description }}</p>
            {% endfor -%}
            </ilw-grid>
        </ilw-content>
            {{ content }}
            {% include arrows.liquid %}
        </main>
        {% include footer.liquid %}
    </div>
    </body>
</html>